{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.ts"],
            "options": {
                "tabWidth": 4
            }
        }
    ],
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 110
}
